<div id="daily-card" class="card">
    <div class="card-image">
         <figure class="image is-4by3">
            <img src="{{get_random_image}}" alt="Photo Test">
        </figure>
    </div>
    <div class="card-content">
        <p class="places_visited">{{places_visited}}</p>
        <div class="daily_notes">
           {{daily_notes}} 
        </div>
        <p class="each_daily">{{date_created}}</p>
    </div>
</div>