<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css"> <!-- Normalizer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> <!-- Now, if we want to use Bulma css --> 
    <link rel="stylesheet" type="text/css" href="/css/style.css"> <!-- our personal css --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{!-- <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> --}}
</head>
<body>
  <header>
    <div class="blog_title">
      <h1 id="site-title">TechBlog</h1> <!-- this is the title of our blog-->
    </div>
  </header>
  {{> navbar }}
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>