<!-- Login Card -->
<div class="row">
  <div class="login-card">
    <h2 class="page-title">Login to TechBlog</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button id="login-btn" class="button is-link is-pulled-right" type="submit">login</button>
      </div>
    </form>
  </div> 
</div>
<div class="row">
  <a href="/signup">Not signed up? Click here to register</a>
</div>

<script src="/js/login.js"></script>
