<h1>Upload Image</h1>
<br>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <input class=""type="submit" value="Upload">
</form>